
/* Carousel Section */
  .card-carousel {
    min-width: 500px;
    flex-grow: 1;
    /* transform: translateX(-10px); */
    /* padding-left: 20px; */
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 5px;
    overflow-x: hidden;
    position: relative;
    /* float: right; */
    margin-bottom: 10px;
    margin-top: 5px;
   border-radius: 10px 0 0 10px;
  }

   .cards-container {
    transform: translateX(20px);
    flex-grow: 1;
    /* padding-left: 20px; */
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: inline-block
    transform: translateX(20px);
   }


   @keyframes slide-left {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(calc(-100vw + 100px));
	}
   }


   .artwork {
    width: var(--medium-image-size);
    height: var(--medium-image-size);
    min-width: var(--medium-image-size);
    min-height: var(--medium-image-size);
    border-radius: 3px;
  }

  .carousel-chevron-forward {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	position: absolute;
	top: calc(50% - 10px);
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--border-color-1);
	right: 20px;
        z-index: 2;
  }

  .carousel-chevron-forward:hover {
	background-color: var(--border-color-1);
  }

  


/* Carousel Card */
/*   .track-card-container { */
/*     font-family: Inter; */
/*     font-size: 10px; */
/*     padding: 10px; */
/*     height: 100%; */
/*     background-color: black; */
/*   } */
/**/
/* .outline-container { */
/*   flex-grow: 1; */
/*   position:relative; */
/* } */
/**/
/*  .track-card-outline { */
/*     height: 100%; */
/*     width: 100%; */
/*     position: absolute; */
/*     background-color: white; */
/*  } */
/**/
/**/
/*   .profile-photo-small { */
/* 	margin-top: 1px; */
/* 	max-width: 15px; */
/* 	max-height: 15px; */
/* 	display: flex; */
/* 	align-self: start; */
/*         object-fit: cover; */
/*   } */
/**/
/*   .track-card-container:hover { */
/* 	/* scale: 1.05; */ */
/* 	transform: translateX(-4px) translateY(-4px); */
/*         transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1); */
/*   } */
/**/
/* .track-info { */
/*     gap: 4px; */
/*     display: flex; */
/*     padding-top: 4px; */
/*     max-width: 100px; */
/*     color: white; */
/*   } */
/**/
/**/
/*   .track-info .track-info-right { */
/*         color: #878686; */
/* 	display: flex; */
/* 	flex-direction: column; */
/*   } */
/*   .track-info .track-info-right .card-title { */
/* 	color: white; */
/* 	font-weight: 500; */
/* 	font-size: 12px; */
/* 	text-wrap: stable; */
/*   } */
/**/
/**/
/*   .track-info .track-card-container .bpm { */
/*     color: #8a918a; */
/*   } */
/**/
/*   .track-info .bottom-text svg:hover { */
/*     color: white; */
/*   } */
/**/
/*   .track-info .user-info { */
/* 	cursor: pointer; */
/* 	display: flex; */
/* 	gap: 4px; */
/*   } */
/*   .track-card-container hr { */
/*     color: var(--border-color-one); */
/*     background-color: var(--border-color-one); */
/*     border: none; */
/*     height: 1.1px; */
/*     width: 90%; */
/*   } */
/**/
/*   .track-info .bottom-text { */
/*     display: flex; */
/*     align-items: end; */
/*   } */
/**/
/*   .track-info .bottom-text .bottom-left-text { */
/*     display: flex; */
/*     flex-direction: column; */
/*   } */
/**/
/*   .spacer { */
/*     flex-grow: 1; */
/*   } */
/**/
/*   .card-initial { */
/*     display: flex; */
/*     flex-direction: column; */
/*   } */
/**/
/*   .bottom-text { */
/* 	padding: 4px; */
/*   } */
/**/
/*   .bottom-left-text { */
/*     color: #878686; */
/*     font-weight: 500; */
/* } */
/**/
/**/
/*  .white-track-card { */
/*     color: black; */
/*     scale: 1.05; */
/*     background-color: white; */
/*  } */
/**/
/*  .white-track-card .track-info .track-info-right .card-title { */
/*     color: black; */
/*  } */
/**/
